<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EDIT SESSION</h1>

    <!-- <form action="/journal/saveSession" method="POST" data-id="<%= session._id%>">
        Date: <input type="date" value="<%= session.date %>" name="sessionDate">
        Spot: <select name="sessionSpot">
           <%  spots.forEach(el => {
            if (el.spot === session.spot) { %>
                <option value="<%=session.spot%>" selected="selected">
                    <%= session.spot %>
                </option>
            <% } else { %>
                <option value="<%=el.spot%>">
                    <%= el.spot %>
                </option>
            <% }
           }) %>

        </select>
        Rating: 

        <% for (let i = 1; i <= 5; i++) {
                if (i == session.rating) { %>
                    <input type="radio" name="sessionRating" value="<%= i %>" id="<%= i %>" checked>
                    <label for="<%= i %>"><%= i %></label> 
                <% } else { %>
                    <input type="radio" name="sessionRating" value="<%= i %>" id="<%= i %>">
                    <label for="<%= i %>"><%= i %></label> 
               <% }
            } %>
        <input type="submit" value="Save Session">
    </form> -->

    <div data-id="<%= session._id%>">
        Date: <input type="date" value="<%= session.date %>" name="sessionDate">
        Spot: <select name="sessionSpot">
           <%  spots.forEach(el => {
            if (el.spot === session.spot) { %>
                <option value="<%=session.spot%>" selected="selected">
                    <%= session.spot %>
                </option>
            <% } else { %>
                <option value="<%=el.spot%>">
                    <%= el.spot %>
                </option>
            <% }
           }) %>

        </select>
        Rating: 

        <% for (let i = 1; i <= 5; i++) {
                if (i == session.rating) { %>
                    <input type="radio" name="sessionRating" value="<%= i %>" id="<%= i %>" checked>
                    <label for="<%= i %>"><%= i %></label> 
                <% } else { %>
                    <input type="radio" name="sessionRating" value="<%= i %>" id="<%= i %>">
                    <label for="<%= i %>"><%= i %></label> 
               <% }
            } %>
        <button class="saveEdit">Save Session</button>
    </div>


    <script src="/js/editJournal.js"></script>
</body>
</html>