<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EDIT SESSION</h1>

    <form action="/journal/addSession" method="POST">
        Date: <input type="date" value="<%= session.date %>" name="sessionDate">
        Spot: <select name="sessionSpot">
           <%  spots.forEach(el => {
            if (el.spot === session.spot) { %>
                <option value="<%=session.spot%>" selected="selected">
                    <%= session.spot %>
                </option>
            <% } else { %>
                <option value="<%=el.spot%>">
                    <%= el.spot %>
                </option>
            <% }
           }) %>

        </select>
        Rating: 
            <input type="radio" name="sessionRating" value="1" id="1">
            <label for="1">1</label>
            <input type="radio" name="sessionRating" value="2" id="2">
            <label for="2">2</label>
            <input type="radio" name="sessionRating" value="3" id="3">
            <label for="3">3</label>
            <input type="radio" name="sessionRating" value="4" id="4">
            <label for="4">4</label>
            <input type="radio" name="sessionRating" value="5" id="5">
            <label for="5">5</label>
        <input type="submit" value="Submit Session">
    </form>
</body>
</html>